.table thead tr th
{
	text-transform: uppercase;
	font-weight: 800;
	background-color: #198754;
	color: white;
}
@media(max-width:1023px)
{
    .table thead
    {
        display: none !important;
    }
    .table, .table tbody, .table tr, .table td
    {
		display: block !important;
		width: 100% !important;
	}
    .table tr
    {
		margin-bottom:15px !important;
	}
	.table td
    {
		text-align: right !important;
		padding-left: 50% !important;
		position: relative !important; 
	}
	.table td::before
    {
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}
@media(max-width:1440px)
{
	.table td, .table th
	{
		text-align: center;
	}
}
