*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body 
{
  margin: 0;
  font-family: 'Times New Roman', serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}